@import "https://www.hexstreamsoft.com/articles/notes-tips-standard-common-lisp-symbols/index.css";

#all-standard-symbols > .warning {
    display: none;
}

@media (max-width: 32em) {
    #all-standard-symbols > .warning {
        display: flex;
    }
}

@media (max-width: 48em) {
    #all-standard-symbols-table {
        max-width: 100%;
        box-sizing: border-box;
    }

    #all-standard-symbols-table tbody th,
    #all-standard-symbols-table .horizontal-grouping-header a {
        white-space: initial;
    }

    #all-standard-symbols-table > tbody > tr > th.horizontal-grouping-header a {
        font-size: x-large;
    }
}
